.single-testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 28%;
  /* border: 2px solid #FE981E; */
  padding: 8px 12px;
  border-radius: 60px;
  background-color: #26262b;


  .single-testimonial-image{
    width: 4vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }

  .single-testimonial-comment{
    font-weight: 100;
    font-size: 20px;
  }

}

.single-testimonial:nth-child(n+4) {
  /* margin-left: 20px; */
  position: relative;
  left: 35px;
}