#flight-info-section{
  position: relative;
  background-color: #151515;
  z-index: 800;
}

#full-width-slider-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.85) 100%);
}