#testimonial-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #testimonial-section-title{
    font-weight: 100;
    font-size: 2.5vw;
    margin-bottom: 1vh;

    span#opinan-testimonial-title{
      font-style: italic;
      color: rgb(254, 152, 30);
    }
  }
}

#testimonial-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5vh 0;
}