#reasons-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  #reasons-title{
    font-size: 2vw;
    text-decoration: underline;
  }

  #reasons-grid-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh;
    gap: 1rem;
    grid-template-areas: 
    "1st-reason 2nd-reason 3rd-reason";

    .grid-area{
      display: flex;
      justify-content: center;
      align-items: start;
    }
  }
}