@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#app-container{
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#full-width-slider-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 800;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.85) 100%);
}