#landing-page{
  width: 100%;
  /* height: 100%; */
  /* background-image: url("https://i.postimg.cc/wjVDMs7m/Portada-Teide-1.png");
  background-size: 100%;
  background-repeat: no-repeat; */

  #landing-image{
    width: 100%;
    position: relative;
    z-index: 100;
  }


  #landing-page-title-1, #landing-page-title-2{
    text-transform: uppercase;
    font-family: "FatFrank";
    letter-spacing: 2px;
    font-size: 5em;
    width: 100%;
    z-index: 5;
    text-shadow: 6px 2px 4px rgba(255, 255, 255, 0.3);
  }

  #landing-page-title-1{
    position: absolute;
    top: 24%;
    left: 5%;
  }

  #landing-page-title-2{
    position: absolute;
    top: 50%;
    left: 40%;
  }
}